@font-face {
    font-family: "paragraph";
    src: url(../fonts/Gothic_A1/GothicA1-Medium.ttf);
}
@font-face {
    font-family: "titre";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
    color: #ddc9a7;
}

body {
    max-width: 100%;
    margin: 0;
    background-image: url(../img/smoke-bg.jpg);
}
h1 {
    font-family: "titre";
    color: #ddc9a7;
    font-variant: small-caps;
}
h2 {
        font-family: "titre";
        color: #ddc9a7;
        font-variant: small-caps;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.div-video {
    height: 100vh;
    width:100%;
}
.video {
    position: absolute;
    z-index: -1;
    height: 100%;
    background-size: cover;    
}
.header-txt {
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    position: fixed;
    width: 100%;
    background-image: url(../img/cloud-header.png);

}
.header-top img {
    width: 50%;
}

.header-top ul {
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
    margin-bottom: 0px;
    font-size: small;

}
.header-top ul li {
    padding-right: 2rem;
}
.header-top ul li a {
    font-family: "titre";
    color: #ddc9a7;

}
.cta-header {
    font-family: "titre";
    color: black;
    background-color: #ddc9a7;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: -0.5rem;
    border-radius: 5%;

}
.header-bot {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: -15rem;  
    margin-bottom: 15rem;  
}
.cta-primary {
    color: white;
    border: #ddc9a7 solid 1px;
    background-color: #573d257c;
    font-family: "titre";
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 5%;
}
.gremmy {
    display: flex;
    justify-content: center;
    align-items: center;


}
.img-gremmy {
   display: flex;
   justify-content: center;
   align-content: center;

}
.img-gremmy img {
    width: 12rem;
    height: 7rem;
    margin-left: 1rem;
}
.gremmy-inside {
    border: #ddc9a7 1px solid;
    display: flex;
    padding: 2rem;
    background-image: url(../img/awards-bg.png);
    background-size: cover;
}
.gremmy-inside p {
    color: white;
    margin-right: 2rem;
    font-size: large;
    margin-bottom: 0;
}
.gremmy-inside h2 {
    color: #ddc9a7;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.bg3-award {
    margin-left: 5rem;
}


