@font-face {
    font-family: "paragraph";
    src: url(../fonts/Gothic_A1/GothicA1-Medium.ttf);
}
@font-face {
    font-family: "titre";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
    color: #ddc9a7;
}

body {
    max-width: 100%;
    margin: 0;
    background-image: url(../img/smoke-bg.jpg);
}
h1 {
    font-family: "titre";
    color: #ddc9a7;
    font-variant: small-caps;
}
h2 {
        font-family: "titre";
        color: #ddc9a7;
        font-variant: small-caps;
}
p {
    font-family: "paragraph";
    color: white;
}
li {
    list-style: none;
    font-size: large;
}
a {
    text-decoration: none;
}
.div-video {
    height: 100vh;
    width:100%;
}
.video {
    position: absolute;
    z-index: -1;
    height: 100%;
    background-size: cover;    
}
.header-txt {
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    position: fixed;
    width: 100%;
    background-image: url(../img/cloud-header.png);

}
.header-top img {
    width: 50%;
}

.header-top ul {
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
    margin-bottom: 0px;
    font-size: small;
    margin-top: 1rem;

}
.header-top ul li {
    padding-right: 2rem;
}
.header-top ul li a {
    font-family: "titre";
    color: #ddc9a7;

}
.cta-header {
    font-family: "titre";
    color: black;
    background-color: #ddc9a7;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: -0.5rem;
    border-radius: 5%;

}
.header-bot {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: -15rem;  
    margin-bottom: 15rem;  
}
.cta-primary {
    color: white;
    border: #ddc9a7 solid 1px;
    background-color: #573d257c;
    font-family: "titre";
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-radius: 5%;
}
.gremmy {
    display: flex;
    justify-content: center;
    align-items: center;


}
.img-gremmy {
   display: flex;
   justify-content: center;
   align-content: center;

}
.img-gremmy img {
    width: 12rem;
    height: 7rem;
    margin-left: 1rem;
}
.gremmy-inside {
    border: #ddc9a7 1px solid;
    display: flex;
    padding: 2rem;
    background-image: url(../img/awards-bg.png);
    background-size: cover;
}
.gremmy-inside p {
    color: white;
    margin-right: 2rem;
    font-size: large;
    margin-bottom: 0;
}
.gremmy-inside h2 {
    color: #ddc9a7;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.bg3-award {
    margin-left: 5rem;
}
.all-race {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    border: #ddc9a7 1px solid;
    border-radius: 5%;
    margin-right: 1rem;

}
.all-race img {
    width: 33%;
}
.races {
    width: 33%;
    text-align: center;
    color: white;
}
.elf-race {
    color: white;
}
.race {
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
    margin-top: 5rem;

}
.column-race {
    display: flex;

}
.elf-race {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: #ddc9a7 1px solid;
    padding-top: 1rem;
    border-radius: 5%;

}
.elf-race img {
    width: 20%;
}
.elf-race p {
    text-align: center;
    color: #ddc9a7;
    margin: 0   2rem 2rem 2rem;
}
.buy-now {
    display: flex;
    margin-top: 5rem;
    background-image: url(../img/buy-now-background.jpg);
    justify-content: center;
    padding-top: 5rem;
    background-size: cover;
    align-items: center;
}
.img-bn{
    width: 33%;
}
.buy-now div img {
    width: 35vw;
}
.txt-bn {
    width: 40%;
}
.txt-bn ul {
    display: flex;
    padding-left: 0;

}
.txt-bn p {
    margin-bottom: 0;
    font-size: small;
}
.txt-bn h2 {
    margin-top: 0;
    font-size: xx-large;
    margin-bottom: 0;
}
.txt-bn ul li a{
    border: #ddc9a7 1px solid;
    color: white;
    padding: 0.5rem;
    border-radius: 8%;
    background-color: rgba(7, 7, 37, 0.733);
    font-family: "titre";
}
.txt-bn ul :nth-child(2) {  
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
